<html>

<body>
    <h1>Edit Profile</h1>

    <form action="edituser" method="POST">

        <label for='username'>Username: </label>
        <label for='username1'><%=username%></label><br><br>

        <label for='password'>Password: </label>
        <input type='password' id='password' name='password' value="<%=password%>"><br><br>

        <input type='submit' value='Submit'>

        <p>Back to log in: <a href="login">Log in</a></p>

    </form>
</body>

</html>