<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <title>Login</title>
</head>
    <body>

        <div class="login-box">
            <h1 class="login-title">Log in</h1>

            <form action="login" method="POST">

                <label for='username'>Username: </label>
                <input type='text' id='username' name='username'>

                <label for='password'>Password: </label>
                <input type='password' id='password' name='password'>

                <input type='submit' value='Log in' id="submit">

                <!-- <button class="btn" id="button"></button> -->
            </form>

            <p>Click on the submit button to submit the form.</p>
            <p id="message"><strong><%=message%></strong></p>

            <p>Don't have an account? <a href="register">Register here</a></p>


        </div>
        
    </body>

</html>