<html>

<body>
    <h1>Please Register</h1>

    <form action="register2" method="POST">

        <label for='username'>Username: </label>
        <input type='text' id='username' name='username'><br><br>

        <label for='password'>Password: </label>
        <input type='password' id='password' name='password'><br><br>

        <input type='submit' value='Submit'>

        <p><strong><%=message%></strong></p>
        <p>Back to log in: <a href="login">Log in</a></p>

    </form>
</body>

</html>